{% extends 'base.html.twig' %}

{% block body %}
    <h1>People_type</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ people_type.id }}</td>
            </tr>
            <tr>
                <th>Lib</th>
                <td>{{ people_type.lib }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('people_type_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('people_type_edit', { 'id': people_type.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
